<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>미팅 리스트</title>
</head>
<body>
<h1>미팅 목록</h1>
<table>
    <thead>
        <tr>
            <th>파티이름</th>
            <th>학교</th>
            <th>지역</th>
            <th>인원 수</th>
            <th>파티장</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="meeting : ${meetings}">
            <td th:text="${meeting.getTitle()}"/>
            <td th:text="${meeting.getSchool()}"/>
            <td th:text="${meeting.getRegion()}"/>
            <td th:text="${meeting.getCount()}"/>
            <td th:text="${meeting.getMember().getUserId()}"/>
        </tr>
    </tbody>
</table>
<a sec:authorize="isAuthenticated()" th:href="@{/meeting/create}">미팅 만들기</a>
<a th:href="@{/}">홈으로</a>

</body>
</html>
