<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입 이동</a>
<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
<a class="nav-link" th:href="@{/meeting/list}">미팅</a>
<a class="nav-link" th:href="@{/board/}">게시판</a>
<a th:href="@{/contest/}">콘테스트</a>

<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin}">관리자 페이지</a>
</div>
</body>
</html>
