<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>대회 참가자 목록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>프로필</th>
        <th>아이디</th>
        <th>이름</th>
        <th>학교</th>
        <th>전공</th>
        <th>생성일</th>
        <th>권한</th>
        <th>승인/거절</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${List}">

        <td><img th:src="${list.member.profile}" alt="프로필 이미지"></td>
        <td th:text="${list.member.userId}"/>
        <td th:text="${list.member.personalInf.name}"/>
        <td th:text="${list.member.school}"/>
        <td th:text="${list.member.major}"/>
        <td th:text="${#dates.format(list.date, 'yyyy년 MM월 dd일')}"/>
        <td th:utext="${list.role}"></td>
        <td th:if="${list.role == 1}">승인완료</td>
        <td th:if="${list.role == 1}">
            <form th:action="@{/contestMember/delete}" th:object="${list}" method="post" style="display:inline;" id="expelForm">
                <input type="hidden" th:name="id" th:value="${list.id}" />
                <input type="hidden" th:name="contestId" th:value="${contestDTO.id}">
                <button type="button" id="expelBtn">추방</button>
            </form>
        </td>
        <td th:if="${list.role == 0}">대기중</td>
        <td th:if="${list.role == 0}">
            <form th:action="@{/contestMember/access}" th:object="${list}" method="post" style="display:inline;" id="accessForm">
                <input type="hidden" th:name="id" th:value="${list.id}" />
                <input type="hidden" th:name="contestId" th:value="${contestDTO.id}">
                <button type="button" id="accessBtn">수락</button>
            </form>
            <form th:action="@{/contestMember/delete}" th:object="${list}" method="post" style="display:inline;" id="deleteForm">
                <input type="hidden" th:name="id" th:value="${list.id}" />
                <input type="hidden" th:name="contestId" th:value="${contestDTO.id}">
                <button type="button" id="deleteBtn">거절</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<a th:href="@{/}">홈으로</a>
<script>
    $(document).ready(function () {
        $('#deleteBtn').click(function() {
            if (confirm("삭제하시겠습니까?")){
                $('#deleteForm').submit();
            }
        });
        $('#expelBtn').click(function() {
            if (confirm("추방시키겠습니까?")){
                $('#expelForm').submit();
            }
        });
        $('#accessBtn').click(function() {
            if (confirm("승인하시겠습니까?")){
                $('#accessForm').submit();
            }
        });
    });
</script>
</body>
</html>
